
h1.left {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1.centre {

   text-align: center;
    color:blueviolet
} 
body {
    margin-top: 20px;
    background-color: rgb(246, 255, 0);
    font-family: 'Courier New', Courier, monospace;
}

.left {
    text-align: left;
    color: crimson;
}
.centre {
    text-align: center;
    color:chocolate;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p {
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.imagen {
text-align: center;
}
